[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git

[submodule "link"]
	path = link
	url = https://github.com/Ableton/link.git
[submodule "libs/gainput"]
	path = libs/gainput
	url = https://github.com/jkuhlmann/gainput.git
